openapi: 3.0.1
info:
  title: Magnit B2B Platform API
  description: Описание API для интеграции с Магнит. События от системы Магнит реализуются на стороне Партнера, остальные методы реализованы на стороне Магнит. Сервис Партнера выступает в роли клиента. Общение происходит на основании pull-push-модели, т.е. сервис Партнера как клиент запрашивает информацию о ресурсе, может создавать/обновлять ресурсы, если это необходимо, получать события от системы Магнит. AuthRequest.client_id и AuthRequest.client_secret выдаются по запросу
  version: 0.1.33
servers:
  - url: https://b2b-api.magnit.ru/api
    description: Основной стенд интеграции.
  - url: https://b2b-api-gateway.uat.ya.magnit.ru/api
    description: Демо стенд для проведения тестирования процессинга заказов.
tags:
  - name: Auth
    description: Аутентификация в системе
  - name: Orders
    description: Заказы
  - name: Order Events
    description: События по заказу от Партнера
  - name: Nomenclature
    description: Информация по товарам
  - name: WebHookEvent
    description: События от системы Магнит
  - name: Last Mile
    description: Услуга доставки от системы Магнит
  - name: Magnit Post
    description: Услуга доставки до ПВЗ
  - name: Magnit Market API - Товары
    description: Партнерская интеграция с Magnit Market по модели FBS. Товары
  - name: Magnit Market API - Категории
    description: Партнерская интеграция с Magnit Market по модели FBS. Категории
  - name: Magnit Market API - Цены
    description: Партнерская интеграция с Magnit Market по модели FBS. Цены
  - name: Magnit Market API - Остатки
    description: Партнерская интеграция с Magnit Market по модели FBS. Товары
  - name: Magnit Market API - Магазины
    description: Партнерская интеграция с Magnit Market по модели FBS. Магазины
  - name: Magnit Market API - Задания на сборку
    description: Партнерская интеграция с Magnit Market по модели FBS. Задания на сборку
  - name: Magnit Market API - Отгрузка посылок
    description: Партнерская интеграция с Magnit Market по модели FBS. Отгрузка посылок

paths:
  /v1/oauth/token:
    post:
      deprecated: true
      tags:
        - Auth
      summary: Получение токена авторизации
      description: Поддержка будет прекращена 31 января 2025 года. Запросите новый токен 1 раз в 24 часа. Запрашивать токен перед каждым запросом к API-методам не требуется.
      requestBody:
        required: true
        description: Запрос на получение токена
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
      responses:
        200:
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSuccessResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v2/oauth/token:
    post:
      tags:
        - Auth
      summary: Получение аутентификационного токена
      description: "Запросите новый токен 1 раз за 60 минут. Запрашивать токен перед каждым запросом к API-методам не требуется. Ссылка на полную спецификацию OAuth2 - https://tools.ietf.org/html/rfc6749"
      requestBody:
        $ref: "#/components/requestBodies/PostV2OauthTokenRequest"
      responses:
        200:
          $ref: "#/components/responses/PostV2OauthSuccessResponse"
        400:
          description: Ошибка в параметрах, в ответе список ошибок валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthError"
        401:
          description: "Ошибка авторизации. В запросе не указан или указан несуществующий client_id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthError"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/orders:
    post:
      tags:
        - Orders
      summary: Создание заказа
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderRequest"
      responses:
        201:
          $ref: "#/components/responses/OrderCreateResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Детальная информация о заказе
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          example: "PM-bB00000001"
          description: "Идентификатор заказа в системе Магнита"
      responses:
        200:
          $ref: "#/components/responses/OrderResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        404:
          $ref: "#/components/responses/NotFoundErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/orders/{orderId}/cancel:
    post:
      tags:
        - Orders
      summary: Отмена заказа
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          example: "PM-bB00000001"
          description: "Идентификатор заказа в системе Магнита"
      requestBody:
        $ref: "#/components/requestBodies/OrderCancellationRequest"
      responses:
        200:
          description: Запрос принят.
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        404:
          $ref: "#/components/responses/NotFoundErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/orders/{orderId}/status:
    put:
      tags:
        - Orders
      summary: Изменение статуса заказа
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          example: "PM-bB00000001"
          description: "Идентификатор заказа в системе Магнита"
      requestBody:
        $ref: "#/components/requestBodies/OrderChangeStatusRequest"
      responses:
        202:
          description: Запрос обновления заказа принят, но ещё не обработан.
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        404:
          $ref: "#/components/responses/NotFoundErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

    get:
      tags:
        - Orders
      summary: Получение статуса заказа
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          example: "PM-bB00000001"
          description: "Идентификатор заказа в системе Магнита"
      responses:
        200:
          $ref: "#/components/responses/OrderStatusResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        404:
          $ref: "#/components/responses/NotFoundErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/orders/{orderId}/event:
    post:
      tags:
        - Order Events
      summary: События по заказам от Партнера
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          example: "PM-bB00000001"
          description: "Идентификатор заказа в системе Магнита"
      requestBody:
        $ref: "#/components/requestBodies/OrderNotificationRequest"
      responses:
        202:
          description: Запрос обновления заказа принят, но ещё не обработан.
        400:
          $ref: "#/components/responses/BadRequestErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        404:
          $ref: "#/components/responses/NotFoundErrorResponse"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/nomenclature/stores/{store_id}/prices:
    get:
      tags:
        - Nomenclature
      summary: "Информация по ценам товаров в ТО"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: store_id
          required: true
          schema:
            type: string
          example: "123456"
          description: "Идентификатор ТО в системе Магнит"
      responses:
        200:
          $ref: "#/components/responses/StoresPricesResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponseWithoutBody"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponseWithoutBody"
        403:
          $ref: "#/components/responses/ForbiddenErrorResponseWithoutBody"
        404:
          $ref: "#/components/responses/NotFoundErrorResponseWithoutBody"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/nomenclature/stores/{store_id}/stocks:
    get:
      tags:
        - Nomenclature
      summary: "Информация по остаткам товаров в ТО"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: store_id
          required: true
          schema:
            type: string
          example: "123456"
          description: "Идентификатор ТО в системе Магнит"
      responses:
        200:
          $ref: "#/components/responses/StoresStocksResponse"
        400:
          $ref: "#/components/responses/BadRequestErrorResponseWithoutBody"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponseWithoutBody"
        403:
          $ref: "#/components/responses/ForbiddenErrorResponseWithoutBody"
        404:
          $ref: "#/components/responses/NotFoundErrorResponseWithoutBody"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /v1/nomenclature/stores/{store_id}/stocks_delta:
    get:
      tags:
        - Nomenclature
      summary: "Информация по дельте остатков товара в ТО"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: store_id
          required: true
          schema:
            type: string
          example: "123456"
          description: "Идентификатор ТО в системе Магнит"
        - in: query
          name: timestamp_from
          required: true
          schema:
            type: integer
          example: "1717577139"
          description: "Время с которого нужны изменения по остаткам в формате unix time в секундах"
      responses:
        200:
          $ref: "#/components/responses/StoresStocksResponse"
        400:
          $ref: "#/components/responses/BadRequestGoodStocksErrorResponse"
        401:
          $ref: "#/components/responses/UnauthorizedErrorResponseWithoutBody"
        403:
          $ref: "#/components/responses/ForbiddenErrorResponseWithoutBody"
        404:
          $ref: "#/components/responses/NotFoundErrorResponseWithoutBody"
        500:
          $ref: "#/components/responses/InternalServerErrorResponse"
        503:
          $ref: "#/components/responses/UnavailableServerErrorResponse"

  /:
    post:
      description: Базовый путь на стороне Партнера, на который будут отправляться различные уведомления от системы Магнит.
      summary: Получение событий от системы Магнит
      tags:
        - WebHookEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Event"
            examples:
              Торговый объект заблокирован:
                value:
                  type: store_blocked
                  payload:
                    store_code: "012345"
                  created_at: 2023-12-31T00:00:00+03:00
              Торговый объект разблокирован:
                value:
                  type: store_unblocked
                  payload:
                    store_code: "012345"
                  created_at: 2023-12-31T00:00:00+03:00
              Обновление очереди сборки:
                value:
                  type: store_collect_queue_updated_v1
                  "payload":
                    {
                      "items":
                        [
                          {
                            "store_code": "000101",
                            "completed_at": "2023-12-31T00:00:00+03:00",
                            "updated_at": "2023-12-31T00:00:00+03:00",
                          },
                          {
                            "store_code": "000102",
                            "completed_at": "2023-12-31T00:00:00+03:00",
                            "updated_at": "2023-12-31T00:00:00+03:00",
                          },
                        ],
                    }
                  created_at: 2023-12-31T00:00:00+03:00
              Обновление статуса магазинов:
                value:
                  type: store_status_updated_v1
                  "payload":
                    {
                      "items":
                        [
                          {
                            "store_code": "012345",
                            "status": "store_blocked",
                            "updated_at": "2023-12-31T00:00:00+03:00",
                          },
                          {
                            "store_code": "123450",
                            "status": "store_unblocked",
                            "updated_at": "2023-12-31T00:00:00+03:00",
                          },
                        ],
                    }
                  created_at: 2023-12-31T00:00:00+03:00
        required: true
      responses:
        200:
          description: Запрос принят.
        400:
          description: Что-то не так в содержании запроса. Ориентируйтесь на описание ошибки, чтобы понять, что именно не так.
        401:
          description: В запросе не указан или указан несуществуюший, истекший токен авторизации.
        404:
          description: Запрашиваемый ресурс не найден. Проверьте адреса запросов, по которым обращается система партнера.
        500:
          description: Внутренняя ошибка сервера Партнера. Такая ошибка через некоторое время исчезнет сама собой.
        503:
          description: Внутренняя ошибка сервера Партнера. Такая ошибка через некоторое время исчезнет сама собой.

  /v1/last-mile/claims/create:
    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: CreateClaim
      description: "Создание заявки на доставку"
      parameters:
        - in: query
          name: request_id
          description: "Ключ идемпотентности запроса"
          required: true
          schema:
            $ref: "#/components/schemas/param.IdempotencyKey"
          x-oapi-codegen-extra-tags:
            validate: required,gt=10,lt=100
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request.CreateClaim"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.CreateClaim"
          description: "OK"
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"

  /v1/last-mile/claims/cancel:
    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: CancelClaim
      description: "Отменить заявку"
      parameters:
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request.CancelClaim"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.CancelClaim"
          description: "OK"
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"

  /v1/last-mile/claims/info:
    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: ClaimsInfo
      description: "Информация по заявкам"
      parameters:
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request.ClaimsInfo"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.ClaimsInfo"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.BadRequest"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.Conflict"
        "500":
          description: "Internal Server Error"

  /v1/last-mile/claims/events:
    get:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: ClaimsEvents
      description: "События по заявкам"
      parameters:
        - in: query
          name: last_known_id
          description: |
            Идентификатор последнего события, обработанного клиентом.
            Если не передан, то будут выданы изменения, начиная с самого первого.
          required: false
          schema:
            $ref: "#/components/schemas/param.EventID"
        - in: query
          name: limit
          description: Максимальное количество событий в результатах.
          required: false
          schema:
            type: integer
            maximum: 1000
            default: 1000
          x-oapi-codegen-extra-tags:
            validate: lt=1000
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.ClaimsEvents"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.BadRequest"
        "500":
          description: "Internal Server Error"

  /v1/last-mile/claims/accept:
    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: AcceptClaim
      description: "Принять заявку на доставку после расчета стоимости"
      parameters:
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request.AcceptClaim"
      responses:
        "200":
          description: "OK"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.BadRequest"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.NotFound"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.Conflict"
        "500":
          description: "Internal Server Error"

  /v1/last-mile/claims/update:
    patch:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: UpdateClaim
      description: "Обновление заявки на доставку"
      parameters:
        - in: header
          name: X-Partner-ID
          description: "Идентификатор партнера из ГИС ГКЦ"
          required: true
          schema:
            $ref: "#/components/schemas/param.PartnerID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request.UpdateClaims"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.UpdateClaims"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.BadRequest"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.NotFound"
        "409":
          description: "Conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response.Conflict"
        "500":
          description: "Internal Server Error"

  /v1/partners/{partner_id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: GetPartner
      summary: Получение партнера
      description: "Получение партнера по его partner_id"
      parameters:
        - $ref: "#/components/parameters/PartnerID"
        - name: nomerge
          in: query
          description: "Флаг, определяющий получение смерженного конфига"
          required: false
          schema:
            type: boolean
      responses:
        "200":
          $ref: "#/components/responses/Partner"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "500":
          $ref: "#/components/responses/ErrorResponse"

    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: UpdatePartner
      summary: Обновление конфига партнера
      description: "Обновить конфиг партнера по его partner_id"
      parameters:
        - $ref: "#/components/parameters/PartnerID"
      requestBody:
        $ref: "#/components/requestBodies/UpdatePartnerRequestBody"
      responses:
        "200":
          description: "OK"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "500":
          $ref: "#/components/responses/ErrorResponse"

  /v1/partners/{partner_id}/logzones/config:
    get:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: GetPartnerLogzoneConfig
      summary: Получение конфига партнера в логзоне
      description: "Получить конфиг партнера в логзоне по его partner_id"
      parameters:
        - $ref: "#/components/parameters/PartnerID"
        - $ref: "#/components/parameters/query.LogzoneConfigQueryFilter"
        - $ref: "#/components/parameters/query.Stype"
      responses:
        "200":
          $ref: "#/components/responses/Config"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "500":
          $ref: "#/components/responses/ErrorResponse"

    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: UpdatePartnerLogzoneConfig
      summary: Обновление конфига партнера в логзоне
      description: "Обновить конфиг партнера в логзоне по его partner_id"
      parameters:
        - $ref: "#/components/parameters/PartnerID"
      requestBody:
        $ref: "#/components/requestBodies/UpdatePartnerLogzoneConfigV1"
      responses:
        "200":
          $ref: "#/components/responses/Config"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "500":
          $ref: "#/components/responses/ErrorResponse"

  /v1/rates/replace:
    post:
      security:
        - bearerAuth: []
      tags:
        - Last Mile
      operationId: ReplaceRates
      summary: Метод замены тарифов
      description: "Позволяет заменить текущие тарифы на новые"
      requestBody:
        $ref: "#/components/requestBodies/RatesReplace"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/magnit-post/pickup-points:
    get:
      security:
        - bearerAuth: []
      summary: Получить список пунктов выдачи заказов
      operationId: getPickupPoints
      description: Метод позволяет получить список активных пунктов выдачи заказов.
      parameters:
        - $ref: "#/components/parameters/pageNumber"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pickupPointKey"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/city"
      responses:
        "200":
          description: Список пунктов выдачи заказов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PickupPointsResponse"
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
  /v1/magnit-post/orders:
    post:
      security:
        - bearerAuth: []
      operationId: createOrder
      summary: Создать заказ
      description: Метод позволяет создать новый заказ на доставку.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryOrderRequest"
      responses:
        "201":
          description: Заказ на доставку успешно создан в системе "Магнит Маркет"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryOrderResponse"
        "400":
          description: Заказ на доставку не может быть корректно создан. Переданы некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: PickupPoint c key 63425 не существует
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
  /v1/magnit-post/orders/{trackingNumber}:
    parameters:
      - $ref: "#/components/parameters/trackingNumber"
    get:
      security:
        - bearerAuth: []
      operationId: getOrder
      summary: Получить заказ по trackingNumber
      description: Метод позволяет получить данные заказа по трек-номер.
      responses:
        "200":
          description: Информация о заказе в системе "Магнит Маркет"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryOrderResponse"
        "404":
          description: Заказ с указанным trackingNumber не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Заказ с trackingNumber 325445758 не найден
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
    delete:
      security:
        - bearerAuth: []
      operationId: deleteOrder
      summary: Отменить заказ по trackingNumber
      description: Метод позволяет отменить заказ по идентификатору.
      responses:
        "204":
          description: Заказ отменен
        "404":
          description: Заказ с указанным trackingNumber не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Заказ с trackingNumber 325445758 не найден
        "400":
          description: Заказ с указанным trackingNumber не может быть отменен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Заказ с trackingNumber 325445758 находится в статусе ISSUED и не может быть отменен.
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
  /v1/magnit-post/orders/{trackingNumber}/status-history:
    parameters:
      - $ref: "#/components/parameters/trackingNumber"
    get:
      security:
        - bearerAuth: []
      operationId: getOrderStatusHistory
      summary: Получить историю статусов по заказу на доставку
      description: Метод позволяет получить историю изменения статусов заказа на доставку по trackingNumber.
      responses:
        "200":
          description: История изменения статусов заказа в системе "Магнит Маркет"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryOrderHistoryResponse"
        "404":
          description: Заказ с указанным trackingNumber не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Заказ с trackingNumber 325445758 не найден
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
  /v1/magnit-post/order-statuses:
    post:
      security:
        - bearerAuth: []
      operationId: getOrdersStatuses
      summary: Получить актуальные статусы по нескольким заказам
      description: Метод позволяет получить актуальные статусы заказов на доставку, передав список trackingNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryOrderStatusesRequest"
      responses:
        "200":
          description: Коллекция актуальных статусов по запрошенным заказам на доставку
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryOrderStatusesResponse"
        "401":
          description: Authorization Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              example:
                message: Authorization Required
      tags:
        - Magnit Post
  /v2/magnit-post/orders/estimate:
    post:
      security:
        - bearerAuth: []
      tags:
        - Magnit Post
      operationId: estimateOrder
      summary: Расчет срока и стоимости доставки
      description: Метод позволяет оценить время и стоимость доставки заказа.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EstimateOrderRequestBody"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/EstimateOrderResponseBody"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          description: "Unauthorized"
        "500":
          $ref: "#/components/responses/ErrorResponse"
  #magnit-market-seller-api-begin
  #magnit-market-seller-api-goods
  /seller/v1/categories:
    get:
      description: REST эндпоинт для получения списка активных категорий
      operationId: getActiveCategories
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExternalSellerCategoryDto"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
        - apiKeyAuth: []
          scopes:
            - mm:b2b:categories
            - mm:b2b:all
      summary: Получение списка категорий
      tags:
      - Magnit Market API - Категории
  /seller/v1/products/defined-characteristics:
    post:
      description: REST эндпоинт для получения списка характеристик
      operationId: getDefinedCharacteristics
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryCharacteristicsRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExternalSellerCharacteristicsDto"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:categories
        - mm:b2b:all
      summary: Получение списка характеристик
      tags:
      - Magnit Market API - Категории
  /seller/v1/products/dictionary:
    get:
      description: REST эндопинт для получения списка словарей
      operationId: getDictionaryValues
      parameters:
      - description: Идентификатор справочника
        in: query
        name: dictionary_id
        required: true
        schema:
          type: integer
          format: int64
      - description: "Тип справочника (например, DEFINED, PRODUCT, SKU)"
        in: query
        name: type
        required: true
        schema:
          type: string
      - description: Поисковый запрос для фильтрации значений справочника
        in: query
        name: search
        required: false
        schema:
          type: string
          default: ""
      - description: Номер страницы для пагинации
        in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - description: Количество элементов на странице
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DictionaryResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:categories
        - mm:b2b:all
      summary: Получение списка словарей
      tags:
      - Magnit Market API - Категории
  /seller/v1/products/sku:
    post:
      description: REST эндпоинт для создания списка СКУ
      operationId: createSku
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSkuRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CreateSkuResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Создание СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/list:
    post:
      description: REST эндпоинт для получения списка СКУ
      operationId: getSkuList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkuListRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuListResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Получение списка СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/price:
    post:
      description: REST эндпоинт для обновления цен
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PricesRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponsePriceUpdateResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:prices
        - mm:b2b:all
      summary: Обновление цен
      tags:
      - Magnit Market API - Цены
  /seller/v1/products/sku/price/info:
    post:
      description: REST эндпоинт для получения данных по ценам
      operationId: getPriceInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkuInfoRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponsePriceInfoResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:prices
        - mm:b2b:all
      summary: Получение данных по ценам
      tags:
      - Magnit Market API - Цены
  /seller/v1/products/sku/shops/{shop_id}/short/list:
    post:
      description: REST эндпоинт для получения списка СКУ с основной информацией по
        СКУ
      operationId: getShortSkuInfoList
      parameters:
      - description: Идентификатор магазина
        in: path
        name: shop_id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShortSkuInfoRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ShortSkuInfoResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Получение списка СКУ с основной информацией
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/shops/{shop_id}/sku/archive:
    post:
      description: REST эндпоинт для архивации списка СКУ
      operationId: archiveSkuList
      parameters:
      - description: Идентификатор магазина
        in: path
        name: shop_id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkuArchiveRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponseSkuArchiveResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Архивация СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/shops/{shop_id}/sku/delete:
    post:
      description: REST эндпоинт для удаления продукта
      operationId: deleteProduct
      parameters:
      - description: Идентификатор магазина
        in: path
        name: shop_id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductDeleteRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponseProductDeleteResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Удаление продукта
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/shops/{shop_id}/sku/unarchive:
    post:
      description: REST эндпоинт для разархивации списка СКУ
      operationId: recoverSkuList
      parameters:
      - description: Идентификатор магазина
        in: path
        name: shop_id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkuArchiveRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponseSkuArchiveResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Разархивация СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/shops/{shop_id}/sku/update:
    post:
      description: REST эндпоинт для обновления списка СКУ
      operationId: updateSku
      parameters:
      - in: path
        name: shop_id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSkuRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CreateSkuResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Обновление СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/products/sku/stocks:
    post:
      description: REST эндпоинт для обновления остатков
      operationId: updateStocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StockRequest"
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:stocks
        - mm:b2b:all
      summary: Обновление остатков
      tags:
      - Magnit Market API - Остатки
  /seller/v1/products/sku/stocks/info:
    post:
      description: REST эндпоинт для получения информации об остатках
      operationId: getStocksInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SkuInfoRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkuInfoResponseStockInfoResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:stocks
        - mm:b2b:all
      summary: Получение информации об остатках
      tags:
      - Magnit Market API - Остатки
  /seller/v1/products/sku/tasks/{task_id}/status:
    get:
      description: REST эндпоинт для получения статуса задачи создания СКУ
      operationId: getTaskStatus
      parameters:
      - description: Идентификатор задачи создания СКУ
        in: path
        name: task_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TaskStatusResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:products
        - mm:b2b:all
      summary: Получение статуса задачи создания СКУ
      tags:
      - Magnit Market API - Товары
  /seller/v1/shops:
    get:
      description: REST эндпоинт для получения списка активных магазинов
      operationId: getShops
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ShopDto"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Пример ошибочных ответов для всех http-статусов (не 2хх)
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:shops
        - mm:b2b:all
      summary: Получение списка магазинов
      tags:
      - Magnit Market API - Магазины
  #magnit-market-seller-api-lms
  /seller/v1/orders/list/unprocessed:
    post:
      operationId: ordersUnprocessedMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Список необработанных заданий на сборку
      description: >
        Возвращает список необработанных заданий на сборку за указанный период
        времени.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrdersUnprocessedRequest'
        required: true
      responses:
        '200':
          description: Список заданий на сборку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrdersUnprocessedResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/orders/list:
    post:
      operationId: ordersListMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Список заданий на сборку
      description: |
        Возвращает список заданий на сборку за указанный период времени.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrdersListRequest'
        required: true
      responses:
        '200':
          description: Список заданий на сборку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrdersListResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/orders/cancel-items:
    post:
      operationId: ordersCancelItemsMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Отмена части товаров
      description: |
        Отменяемый товар не должен быть распределен по посылкам.

        ⚠️ Это действие нельзя отменить.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrderCancelItemsRequest'
        required: true
      responses:
        '200':
          description: Актуальные информация о задании на сборку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrderCancelItemsResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/orders/cancel:
    post:
      operationId: ordersCancelMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Отмена задания на сборку
      description: |
        ⚠️ Задание может быть отменено, до перевода в статус `ASSEMBLED`.

        ⚠️ Это действие нельзя отменить.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrderCancelRequest'
        required: true
      responses:
        '200':
          description: Запрос успешно выполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrderCancelResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/orders/complete:
    post:
      operationId: ordersCompleteMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Подтверждение сборки
      description: >
        Необходимо вызвать этот метод, чтобы посылки можно было добавить в
        отгрузку
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrderCompleteRequest'
        required: true
      responses:
        '200':
          description: Список посылок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrderCompleteResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/orders/parcels:
    post:
      operationId: ordersParcelsMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Передать разбиение на посылки
      description: |
        Позволяет передать разбиение всего задания на посылки.
        Метод можно использовать если задания на сборку находится в статус `NEW`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceOrderParcelsRequest'
        required: true
      responses:
        '200':
          description: Посылки и их идентификаторы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceOrderParcelsResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/list:
    post:
      operationId: parcelsListMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Список посылок
      description: |
        Возвращает список посылок за указанный период времени.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsListRequest'
      responses:
        '200':
          description: Список посылок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsListResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/set-marking:
    post:
      operationId: parcelsMarkingMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Передать маркировку товаров внутри посылки
      description: >
        Передать маркировку можно до подтверждения сборки задания.


        ⚠️ Маркетплейс не производит проверку и вывод марок из оборота.


        ⚠️ Необходимо передавать маркировку сразу на все единицы товара (т.е.
        равным quantity этого товара в посылке).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsAddMarkingRequest'
      responses:
        '200':
          description: Запрос успешно выполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsAddMarkingResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/get-labels:
    post:
      operationId: parcelsGetLabelsMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Получить этикетки для посылок
      description: |
        Метод возвращает этикетки для посылок в виде одного файла
      parameters:
        - $ref: '#/components/parameters/MarketplaceDocumentAccept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsLabelsRequest'
      responses:
        '200':
          description: Запрос успешно выполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsLabelsResponse'
            application/pdf:
              schema:
                type: string
                format: binary
                example: |-
                  %PDF-1.3
                  3 0 obj
                  ...
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/cancel:
    post:
      operationId: parcelsCancelMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Отменить посылку вместе с товарами
      description: >
        Метод позволяет отменить собранную посылку. При этом также отменяются
        товары, находящиеся в ней.

         ⚠️ Это действие нельзя отменить.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsCancelRequest'
      responses:
        '200':
          description: Посылка успешно отменена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsCancelResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/create:
    post:
      operationId: parcelsCreateMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Создание посылки
      description: |
        Метод позволяет передать состав одной посылки.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsCreateRequest'
      responses:
        '200':
          description: Посылка успешно создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsCreateResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/parcels/unpack:
    post:
      operationId: parcelsUnpackMarket
      tags:
        - Magnit Market API - Задания на сборку
      summary: Удаляет посылку
      description: >
        Метод позволяет удалить посылку. Для этого посылка должна находиться в
        статусе `NEW`.


        Товары из удаляемой посылки можно распределить повторно.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceParcelsUnpackRequest'
      responses:
        '200':
          description: Посылка успешно удалена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceParcelsUnpackResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/list:
    post:
      operationId: shipmentsListMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Список отгрузок
      description: |
        Возвращает список отгрузок за указанный период времени.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentListRequest'
      responses:
        '200':
          description: Список отгрузок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentListResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/add-parcels:
    post:
      operationId: shipmentsAddParcelsMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Добавить посылки к отгрузке
      description: |
        Добавляет посылки к формируемой отгрузке.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentAddParcelsRequest'
        required: true
      responses:
        '200':
          description: Актуальный состав отгрузки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentAddParcelsResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/remove-parcels:
    post:
      operationId: shipmentsRemoveParcelsMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Удалить посылки из отгрузки
      description: |
        Удаляет посылки из формируемой отгрузки.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentRemoveParcelsRequest'
        required: true
      responses:
        '200':
          description: Актуальный состав отгрузки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentRemoveParcelsResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/confirm:
    post:
      operationId: shipmentsConfirmMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Подтвердить отгрузку
      description: |
        Завершить формирование отгрузки.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentsConfirmRequest'
        required: true
      responses:
        '200':
          description: Состав отгрузки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentsConfirmResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/cancel:
    post:
      operationId: shipmentsCancelMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Отменить отгрузку
      description: >
        Отменяет отгрузку. Отменить отгрузку можно только на статусе
        `CONFIRMED`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentsCancelRequest'
        required: true
      responses:
        '200':
          description: Состав отгрузки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentsCancelResponse'
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  /seller/v1/shipments/get-documents:
    post:
      operationId: shipmentsGetDocumentsMarket
      tags:
        - Magnit Market API - Отгрузка посылок
      summary: Получить документы по отгрузке
      description: |
        Возвращает выбранный документ для отгрузки
      parameters:
        - $ref: '#/components/parameters/MarketplaceDocumentAccept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceShipmentGetDocumentsRequest'
      responses:
        '200':
          description: Документ по отгрузке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceShipmentGetDocumentsResponse'
            application/pdf:
              schema:
                type: string
                format: binary
                example: |-
                  %PDF-1.3
                  3 0 obj
                  ...
        '400':
          $ref: '#/components/responses/Marketplace400'
        '403':
          $ref: '#/components/responses/Marketplace403'
        '404':
          $ref: '#/components/responses/Marketplace404'
        '500':
          $ref: '#/components/responses/Marketplace500'
      security:
      - apiKeyAuth: []
        scopes:
        - mm:b2b:orders-processing
        - mm:b2b:all
  #magnit-market-seller-api-end
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT # optional, arbitrary value for documentation purposes
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  parameters:
    trackingNumber:
      in: path
      name: trackingNumber
      required: true
      description: Трек-номер заказа.
      schema:
        type: string
    pageNumber:
      name: page
      in: query
      required: true
      description: Номер страницы, начинающийся с единицы (1..N)
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 1
    pageSize:
      name: size
      in: query
      required: true
      description: Размер возвращаемой страницы
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 1000
        default: 100
    pickupPointKey:
      name: key
      in: query
      description: Ключ пункта выдачи заказа
      required: false
      schema:
        type: string
        example: "63933"
    region:
      name: region
      in: query
      description: Регион ПВЗ
      required: false
      schema:
        type: string
        example: "Татарстан"
    city:
      name: city
      in: query
      description: Город ПВЗ
      required: false
      schema:
        type: string
        example: "Казань"
    MarketplaceDocumentAccept:
      name: Accept
      in: header
      description: |
        Выбранный формат получения ответа (по умолчанию `application/json`)
      required: false
      schema:
        type: string
        default: application/json
        enum:
          - application/json
          - application/pdf
    PartnerID:
      in: path
      name: partner_id
      description: "Идентификатор партнера"
      required: true
      schema:
        type: string
        format: uuid
        x-go-type: uuid.UUID
        x-go-type-import:
          path: github.com/gofrs/uuid/v5
    query.Stype:
      description: "Тип настроек в логзонах"
      in: query
      name: stype
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/SettingsType"
    query.LogzoneConfigQueryFilter:
      description: "Критерий выборки логзоны"
      in: query
      name: by
      style: form
      required: true
      explode: true
      schema:
        $ref: "#/components/schemas/LogzoneConfigQueryFilter"

  schemas:
    StoresPricesItemsV1:
      required:
        - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/StoresPricesItemV1"

    StoresPricesItemV1:
      required:
        - good_id
        - base
      type: object
      properties:
        good_id:
          type: string
          example: "13234864"
          description: "Идентификатор товара в системе Магнит"
        base:
          $ref: "#/components/schemas/StoresBasePriceV1"
        action:
          $ref: "#/components/schemas/StoresActionPriceV1"

    StoresBasePriceV1:
      required:
        - value
        - currency
      description: "Базовая цена товара"
      properties:
        value:
          type: integer
          description: "Цена в копейках"
          example: 29999
        currency:
          $ref: "#/components/schemas/CurrencyEnum"

    StoresActionPriceV1:
      required:
        - value
        - currency
        - finished_at
      description: "Акционная цена товара"
      properties:
        value:
          type: integer
          description: "Цена в копейках"
          example: 29999
        currency:
          $ref: "#/components/schemas/CurrencyEnum"
        started_at:
          type: string
          description: "Дата начала действия акционной цены в формате RFC3399"
          example: "2023-12-01T00:00:00+03:00"
        finished_at:
          type: string
          description: "Дата окончания действия акционной цены в формате RFC3399"
          example: "2023-12-30T00:00:00+03:00"

    StoresStocksItemsV1:
      required:
        - timestamp
        - items
      type: object
      properties:
        timestamp:
          type: integer
          description: "Дата запроса информации об остатках в unix time в секундах"
          example: 1717590140
        items:
          type: array
          items:
            $ref: "#/components/schemas/StoresStockItemV1"

    StoresStockItemV1:
      required:
        - good_id
        - quantity
      type: object
      properties:
        good_id:
          type: string
          description: "Идентификатор товара в системе Магнит"
          example: "123456"
        quantity:
          type: number
          description: "Остаток товара по товарной позиции в штуках. Для весового товара вес передается в килограммах"
          example: 500

    Event:
      required:
        - type
        - created_at
      type: object
      properties:
        type:
          $ref: "#/components/schemas/EventEnum"
        payload:
          oneOf:
            - $ref: "#/components/schemas/StoreBlockedEvent"
            - $ref: "#/components/schemas/StoreUnblockedEvent"
            - $ref: "#/components/schemas/StoreStatusUpdatedV1"
            - $ref: "#/components/schemas/StoreCollectQueueUpdatedV1"
        created_at:
          type: string
          title: Время возникновения события
          description: "Время возникновения события в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    EventEnum:
      type: string
      description: Тип события
      enum:
        - "store_blocked"
        - "store_unblocked"
        - "store_collect_queue_updated_v1"
        - "store_status_updated_v1"

    StoreStatusUpdatedV1:
      title: Набор актуальных статусов магазинов
      description: Магазины изменили статус работы
      type: object
      required:
        - items
      properties:
        items:
          $ref: "#/components/schemas/StoreStatusUpdatedItemV1"

    StoreStatusUpdatedItemV1:
      title: Обновление статуса магазина
      description: Магазин изменил статус работы
      type: object
      required:
        - store_code
        - status
      properties:
        store_code:
          type: string
          example: "012345"
          description: "Идентификатор магазина в системе Магнит."
        status:
          $ref: "#/components/schemas/StoreStatusEnum"
        updated_at:
          $ref: "#/components/schemas/Datetime"

    Datetime:
      type: string
      description: "Дата в формате RFC3339 с указанием часового пояса"
      example: "2023-12-31T00:00:00+03:00"

    StoreStatusEnum:
      type: string
      description: Статус магазина
      enum:
        - "store_blocked"
        - "store_unblocked"

    StoreBlockedEvent:
      title: Магазин заблокирован
      description: Событие блокировки магазина
      type: object
      required:
        - store_code
      properties:
        store_code:
          type: string
          example: "123456"
          description: "Идентификатор магазина в системе Магнит."

    StoreUnblockedEvent:
      title: Магазин разблокирован
      description: Событие разблокировки магазина
      type: object
      required:
        - store_code
      properties:
        store_code:
          type: string
          example: "123456"
          description: "Идентификатор магазина в системе Магнит."

    StoreBlockingReasonEnum:
      type: string
      description: Причина блокировки магазина в системе Магнит
      enum:
        - "REVISION"
        - "TECHNICAL_PROBLEMS"
        - "TOO_BUSY"

    AuthRequest:
      required:
        - client_id
        - client_secret
      type: object
      properties:
        client_id:
          type: string
          description: Идентификатор партнера. Выдается по запросу
        client_secret:
          type: string
          description: Секретный ключ партнера. Выдается по запросу

    AuthSuccessResponse:
      description: "Успешная авторизация"
      required:
        - access_token
        - expires_in
      type: object
      properties:
        access_token:
          type: string
          description: Токен доступа
        expires_in:
          type: string
          description: Время истечения токена Unix Timestamp
        created_at:
          type: string
          description: Время создания токена Unix Timestamp, если текущий токен еще не истек

    OrderRequest:
      type: object
      required:
        - original_order_id
        - store_code
        - customer
        - collect
        - price
        - cart
      properties:
        original_order_id:
          type: string
          description: "Идентификатор заказа в системе партнера"
        store_code:
          type: string
          example: "123456"
          description: "Идентификатор магазина в системе Магнит. Используется для отправки заказа на сборку"
        customer:
          $ref: "#/components/schemas/Customer"
        delivery:
          oneOf:
            - $ref: "#/components/schemas/DeliveryPartner"
            - $ref: "#/components/schemas/DeliveryMagnit"
        collect:
          $ref: "#/components/schemas/Collect"
        cart:
          $ref: "#/components/schemas/CartRequest"
        price:
          $ref: "#/components/schemas/OrderPrice"
        comment:
          type: string
          description: "До 1000 символов"

    Order:
      type: object
      required:
        - original_order_id
        - store_code
        - status
        - cart
        - price
      properties:
        original_order_id:
          type: string
          description: "Идентификатор заказа в системе партнера"
        store_code:
          type: string
          example: "123456"
          description: "Идентификатор магазина в системе Магнит. Используется для отправки заказа на сборку"
        status:
          $ref: "#/components/schemas/OrderStatus"
        cart:
          $ref: "#/components/schemas/Cart"
        collect:
          $ref: "#/components/schemas/OrderCollect"
        price:
          $ref: "#/components/schemas/OrderPrice"
        comment:
          type: string
          description: "До 1000 символов"

    OrderStatusResponse:
      type: object
      required:
        - status
      properties:
        status:
          $ref: "#/components/schemas/OrderStatus"

    OrderStatus:
      type: object
      required:
        - code
        - updated_at
      properties:
        code:
          $ref: "#/components/schemas/OrderStatusEnum"
        reason:
          $ref: "#/components/schemas/OrderCancellationReasonEnum"
        updated_at:
          type: string
          description: "Дата последнего обновления статуса в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    OrderChangeStatus:
      type: object
      required:
        - code
        - updated_at
      properties:
        code:
          $ref: "#/components/schemas/OrderStatusEnum"
        updated_at:
          type: string
          description: "Дата последнего обновления статуса в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    OrderChangeRequestStatus:
      type: object
      required:
        - code
        - updated_at
      properties:
        code:
          $ref: "#/components/schemas/OrderChangeStatusRequestEnum"
        updated_at:
          type: string
          description: "Дата последнего обновления статуса в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    OrderPaymentStatus:
      type: string
      enum:
        - NOT_PAID
        - PAID

    OrderPaymentType:
      type: string
      enum:
        - PREPAID
        - POSTPAID

    OrderPaymentMethod:
      type: string
      enum:
        - CASH_ON_DELIVERY
        - CARD_ON_DELIVERY
        - SBP
        - EXTERNAL_CERTIFICATE

    Comments:
      type: object
      properties:
        customerComment:
          type: string
          description: Комментарий покупателя
        vendorComment:
          type: string
          description: Комментарий поставщика, например код

    Customer:
      description: "Информация о клиенте. Используется сборщиком для согласования замен"
      type: object
      required:
        - phone
        - name
      properties:
        name:
          type: string
          description: "Имя клиента в сервисе партнера. Используется для обращений к клиенту"
          example: "Иванов Иван Иванович"
        phone:
          type: string
          description: "Номер телефона для связи с клиентом в международном формате. Состоит из частей +<код страны><номер>. Используется для связи сборщика с клиентом и согласования замен."
          example: "+79031111111 или +74652516489 доб. 123456 или 84652516489 доб. 123456"

    Delivery:
      description: "Информация о доставке."
      type: object
      properties:
        time_slot:
          $ref: "#/components/schemas/DeliveryTimeSlot"
    DeliveryStatus:
      type: string
      enum:
        - in_progress
        - delivered

    DeliveryPartner:
      type: object
      description: "Доставка курьерами партнера"
      properties:
        time_slot:
          $ref: "#/components/schemas/DeliveryTimeSlot"

    DeliveryMagnit:
      type: object
      description: "Доставка курьерами Магнита"
      required:
        - address
        - price
        - coordinates
      properties:
        time_slot:
          $ref: "#/components/schemas/DeliveryTimeSlot"
        price:
          $ref: "#/components/schemas/DeliveryPrice"
        coordinates:
          $ref: "#/components/schemas/DeliveryCoordinates"
        address:
          $ref: "#/components/schemas/DeliveryAddress"

    DeliveryPrice:
      type: object
      description: "Стоимость доставки"
      required:
        - base
      properties:
        base:
          $ref: "#/components/schemas/DeliveryBasePrice"
    DeliveryTime:
      type: object
      required:
        - expected_datetime
      properties:
        expected_datetime:
          type: string
          description: "Ожидаемая клиентом дата доставки в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    DeliveryCoordinates:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          description: "Координата широты куда необходимо доставить заказ"
          example: 55.878315
        lng:
          type: number
          description: "Координата долготы куда необходимо доставить заказ"
          example: 37.65372

    DeliveryAddress:
      type: object
      required:
        - city
        - building
      properties:
        city:
          type: string
          description: "Город, максимальная длина строки 100 символов"
          example: "Москва"
        street:
          type: string
          description: "Улица, максимальная длина строки 100 символов"
          example: "Сухонская"
        building:
          type: string
          description: "Номер дома, максимальная длина строки 10 символов"
          example: "11"
        entrance:
          type: string
          description: "Подъезд, максимальная длина строки 10 символов"
          example: "1"
        floor:
          type: string
          description: "Этаж, максимальная длина строки 10 символов"
          example: "2"
        flat:
          type: string
          description: "Квартира, максимальная длина строки 10 символов"
          example: "202"
        intercom:
          type: string
          description: "Домофон, максимальная длина строки 100 символов"
          example: "202"
        full:
          type: string
          description: "Полный адрес, максимальная длина строки 255 символов"
          example: "Москва, ул. Сухонская, д.11, кв. 202"

    DeliveryTimeSlot:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          description: "Ожидаемая клиентом начальная дата-время доставки в RFC3339 с указанием часового пояса"
          example: "2023-12-31T09:00:00+03:00"
        to:
          type: string
          description: "Ожидаемая клиентом конечная дата-время доставки в RFC3339 с указанием часового пояса"
          example: "2023-12-31T10:00:00+03:00"

    DeliveryType:
      description: "Тип доставки заказа. Используется для маршрутизации заказа."
      type: string
      enum:
        - PICKUP
        - COURIER

    IssueOrderCreateResponse:
      description: "Раздел выдачи при создании заказа. Код выдачи заказов включается для партнеров по запросу."
      type: object
      required:
        - strategy
      properties:
        strategy:
          $ref: "#/components/schemas/IssueStrategyEnum"
        payload:
          oneOf:
            - $ref: "#/components/schemas/IssuePayloadEacTakerToCollect"

    IssuePayloadEacTakerToCollect:
      description: "Полезная нагрузка при получении заказа по коду выдачи"
      type: object
      required:
        - eac
      properties:
        eac:
          $ref: "#/components/schemas/EAC"

    EAC:
      description: "ЭАПП - Электронный акт-приёма передачи, код выдачи"
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Код подтверждения ЭАПП (для типа taker_to_collect)

    Collect:
      description: "Информация о сборке."
      type: object
      required:
        - strategy
      properties:
        strategy:
          $ref: "#/components/schemas/CollectReplacementStrategyEnum"
        desired_at:
          description: "Желаемое время сборки заказа в RFC3339 с указанием часового пояса"
          type: string
          example: "2023-12-31T10:00:00+03:00"

    OrderCollect:
      description: "Информация о сборке заказа после его создания."
      type: object
      properties:
        expected_at:
          type: string
          description: "Дата ожидаемой сборки заказа в RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"

    CollectTypeEnum:
      type: string
      enum:
        - MAGNIT
        - PARTNER

    CollectReplacementStrategyEnum:
      description: "call_to_customer - всегда звонить клиенту для согласования"
      type: string
      enum:
        - call_to_customer

    Promo:
      type: object
      required:
        - type
        - value
      properties:
        type:
          $ref: "#/components/schemas/PromoTypeEnum"
        name:
          type: string
          example: "Первый заказ"
        value:
          type: string
          example: "10, SORRYCODE"

    PromoTypeEnum:
      type: string
      enum:
        - "PROMOCODE"
        - "PENSIONER"
        - "EXAMPLE"

    Payment:
      type: object
      properties:
        status:
          type: string
          example: "paid"

    OrderPrice:
      description: "Сумма заказа"
      type: object
      required:
        - total
      properties:
        total:
          $ref: "#/components/schemas/OrderTotalPrice"

    CartRequest:
      description: "Корзина заказа"
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItemRequest"

    Cart:
      description: "Корзина заказа"
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"

    CartItemRequest:
      type: object
      required:
        - good_id
        - name
        - unit
        - qnty
        - price
      properties:
        good_id:
          description: "Артикул товара в системе Магнит"
          type: string
          example: "0000000000"
        name:
          description: "Название товара в системе партнера"
          type: string
          example: "Огурцы"
        qnty:
          description: "Количество товара в граммах для весовых или в штуках для штучных"
          type: integer
          example: 1500
        price:
          $ref: "#/components/schemas/ProductPrice"
        unit:
          $ref: "#/components/schemas/UnitEnum"

    CartItem:
      type: object
      required:
        - good_id
        - name
        - unit
        - qnty
        - price
      properties:
        good_id:
          description: "Артикул товара в системе Магнит"
          type: string
          example: "0000000000"
        name:
          description: "Название товара в системе партнера"
          type: string
          example: "Огурцы"
        qnty:
          description: "Количество товара в граммах для весовых или в штуках для штучных"
          type: integer
          example: 1500
        price:
          $ref: "#/components/schemas/ProductPrice"
        unit:
          $ref: "#/components/schemas/UnitEnum"
        marking:
          description: "Информация о маркировке единиц товара."
          type: array
          items:
            $ref: "#/components/schemas/Marking"

    DeliveryBasePrice:
      type: object
      description: "Стоимость доставки без скидок"
      required:
        - value
      properties:
        value:
          type: integer
          example: "10000"
          description: "Стоимость в копейках"

    BasePrice:
      type: object
      required:
        - value
      properties:
        value:
          type: integer
          example: "10000"
          description: "Стоимость в копейках"

    OrderTotalPrice:
      description: Полная стоимость заказа в копейках. Сколько денег будет списано с клиента за заказ.
      allOf:
        - $ref: "#/components/schemas/BasePrice"

    ProductPrice:
      description: "Стоимость одной позиции, включая скидки, если они есть"
      type: object
      required:
        - original
      properties:
        original:
          $ref: "#/components/schemas/BasePrice"

    TaxTypeEnum:
      type: string
      description: "Ставка НДС"
      enum:
        - "no_vat"
        - "vat_0"
        - "vat_10"
        - "vat_20"
        - "vat_10/110"
        - "vat_20/120"

    CurrencyEnum:
      description: "Валюта"
      type: string
      enum:
        - "RUB"

    VatEnum:
      type: string
      enum:
        - "NO_VAT"
        - "VAT_0"
        - "VAT_10_110"
        - "VAT_20_120"
        - "VAT_18_118"

    ErrorCodeEnum:
      type: string
      enum:
        - "SOME_ERROR"
        - "FORBIDDEN"
        - "ORDER_NOT_FOUND"
        - "INTERNAL_ERROR"
        - "ARTICLE_NOT_FOUND"

    UnitEnum:
      description: "Размерность товара, весовой или штучный"
      type: string
      enum:
        - "weight"
        - "apiece"

    OrderStatusEnum:
      type: string
      enum:
        - "order_created"
        - "order_on_work"
        - "order_ready"
        - "order_issued"
        - "order_delivered"
        - "order_cancelled"
        - "order_client_refused"

    OrderChangeStatusRequestEnum:
      type: string
      enum:
        - "order_delivered"

    OrderNotificationTypeEnum:
      type: string
      enum:
        - "order_paid"
        - "order_ready_to_pick_up"
        - "order_picked_up"

    Stores:
      type: object
      properties:
        stores:
          type: array
          items:
            $ref: "#/components/schemas/Store"

    Store:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        flags:
          $ref: "#/components/schemas/StoreFlags"

    StoreFlags:
      type: object
      properties:
        alcohol:
          type: boolean
        pickup:
          type: boolean

    ProductReplacement:
      type: object
      required:
        - old_article
        - new_article
      properties:
        old_article:
          type: string
        new_article:
          type: string
          description: артикул

    Marking:
      required:
        - qnty
        - cis
      type: object
      properties:
        qnty:
          type: integer
          description: "Количество товара в штуках или граммах, если товар весовой"
        cis:
          type: string
          description: "Код «Честного знака» без криптохвоста."
          example: '0104603731968500215jMa!Q\\u001d93rh1e'
        request:
          $ref: "#/components/schemas/MarkingRequest"

    MarkingRequest:
      description: "Объект запроса валидации марки"
      properties:
        id:
          type: string
          description: Уникальный идентификатор запроса валидации марки
          example: "4cd5d966-000a-00aa-aaa0-58f392fb380e"
        timestamp:
          type: number
          description: Дата и время по UTC с точностью до миллисекунд формирования запроса валидации марки.
          example: 1714112888596

    OrderChangeStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          $ref: "#/components/schemas/OrderChangeRequestStatus"

    OrderCancellationReasonEnum:
      description: "Причина отмены заказа"
      type: string
      enum:
        - "test"
        - "customer_no_product_needed"
        - "customer_delivery_too_expensive"
        - "customer_impossible_order_change"
        - "customer_no_reason"
        - "assembly_is_late"
        - "assembly_no_reason"
        - "delivery_is_late"
        - "delivery_no_courier"
        - "payment_not_passed"
        - "order_not_picked_up"
        - "delivery_order_mixed"
        - "delivery_courier_fault"
        - "fraud"
        - "other"

    VerifyEACRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string

    VerifyEACResponse:
      type: object
      properties:
        result:
          $ref: "#/components/schemas/VerifyEACResult"

    VerifyEACResult:
      type: object
      properties:
        verificationResult:
          $ref: "#/components/schemas/VerifyEACStatusEnum"
        attemptsLeft:
          type: integer
          description: Попыток осталось

    VerifyEACStatusEnum:
      type: string
      enum:
        - "ACCEPTED"
        - "REJECTED"
        - "NEED_UPDATE"

    EACStrategyEnum:
      type: string
      enum:
        - "taker_to_collect"

    IssueStrategyEnum:
      type: string
      enum:
        - "eac_taker_to_collect"

    OrderCreateResponse:
      description: Успешное создание заказа
      type: object
      required:
        - original_order_id
        - id
      properties:
        original_order_id:
          type: string
          description: Идентификатор заказа на стороне партнера
        id:
          type: string
          description: Идентификатор заказа в системе Магнита
        issue:
          $ref: "#/components/schemas/IssueOrderCreateResponse"

    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: "#/components/schemas/ErrorCodeEnum"
        message:
          type: string
          description: Текст ошибки

    StoreCollectQueueUpdatedV1:
      title: Изменение очереди сборки магазинов
      description: Магазины изменили очередь сборки заказов
      type: object
      required:
        - items
      properties:
        items:
          $ref: "#/components/schemas/StoreCollectQueueUpdatedItemV1"

    StoreCollectQueueUpdatedItemV1:
      title: Набор актуальных значений очередей сборки
      type: object
      required:
        - store_code
        - completed_at
      properties:
        store_code:
          example: "123456"
          description: Идентификатор магазина в системе Магнит.
          type: string
        completed_at:
          type: string
          description: "Дата и время окончания сборки в магазине в формате RFC3339 с указанием часового пояса"
          example: "2023-12-31T00:00:00+03:00"
        updated_at:
          type: string
          description: "Дата и время в формате RFC3339 с указанием часового пояса, когда был посчитан completed_at"
          example: "2023-12-31T00:00:00+03:00"

    OauthToken:
      type: object
      required:
        - access_token
        - expires_in
        - scope
        - token_type
      properties:
        access_token:
          type: string
          description: Токен аутентификации
[...]
